<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools & Ecosystems are summarized

Some of the popular languages data scientists use are: 
1. R
2. Python 
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. TensorFLow 
2. Pandas
3. NumPy

| Data Science Tools |
|--------------------|
| TensorFlow         |
| R studio           |
| Tableua            |

### Below are a few examples of evaluating arithmetic expressions in Python.

This is a simple arithmetic expression to multiply then add integers.

In [2]:
result = (3 * 4) + 5
result

17

This will convert 200 minutes to hours by diving by 60

In [5]:
result = (200/60)
result

3.3333333333333335

**Objectives:**

* List popular languages for Data Science.
* Introduce fundamental data science concepts.
* Provide practical examples of data analysis and visualization.
* Explore machine learning algorithms and techniques.
* Share resources for further learning and exploration.

## Author 
Philippos Vavaletskos